@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  background-color: #B9DC95;
  font-family: 'Shadows Into Light', cursive;
}

.container {
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

h2 {
  font-size: 60px;
  margin-bottom: 30px;
}

p {
  font-size:  40px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 9px 28px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 22px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
  margin: 0.5rem;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
