@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
  background-color: #B9DC95;
  font-family: 'Shadows Into Light', cursive;
}

.center {
  width: 17rem;
  margin: auto;
  margin-top: 17%;
}

h1 {
  font-size: 100px;
  margin-bottom: 30px;
  text-align: center;
}

section {
  position: absolute;
}

.progress{
  position: relative;
  height: 10px;
  width: 1300%;
  border: 10px solid #f4a261;
  border-radius: 15px;
}

.progress .color{
  position: relative;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: anime 3s infinite linear;    
}

@keyframes anime{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};